#container {
    
    background-color: rgb(32, 30, 30);
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    border-radius: 30px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    padding: 25px;
}
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #9C9FAD;
}
button {
    
    background-color: rgb(32, 30, 30);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
}

.buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

button:hover {
    background-color: rgb(50, 50, 50);
}

input {
    border-radius: 30px;
    height: 20px;
}
#buttonarea {
    padding-top: 20px;
    display: flex;
    justify-content: center;
}
#displayarea {
    
    background-color: white;
    border-radius: 15px;
    height: 50px;
    width: 260px;
    text-align: right;
    font-size: 24px;
    padding: 5px 10px;
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
}